.background {
    grid-area: main;
    background-color: $color_secundario;
    .discografia {
        border: 20px solid $color_terciario;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 5%;
        background-color: $color_secundario;
        font-size: x-large;
        text-align: center;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        section div a img {
            height: 25vh;
            width: auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .background {
        grid-area: main;
        background-color: $color_secundario;
        .discografia {
            border: none;
            height: 63%;
            width: auto;
            margin-top: 3%;
            margin-bottom: 0%;
            padding: 5%;
            background-color: $color_secundario;
            font-size: x-large;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            &__top div {
                margin-right: 100px;
            }
            &__bottom div {
                margin-left: 100px;
            }
        }
    }
}