footer {
    grid-area: footer;
    background-color: $color_primario;
    overflow: hidden;
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        li a img {
            height: 50px;
            margin-top: 33%;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            margin-left: 3%;
            li a img {
                padding-left: 50px;
            }
        }
    }
}